.options-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}

.welcome-message {
  text-align: center;
  width: 100%;
  margin-bottom: 30px;
}

.green {
  color: rgb(100, 176, 67)!important;
}

.mt-30px {
  margin-top: 30px;
}

.mb-20px {
  margin-bottom: 20px;
}

.mt-200px {
  margin-top: 200px;
}

.questions-container {
  margin: -10px; 
  padding: 10px;
}

.question-content {
  font-weight: 600;
  padding-top: 20px;
  border-top: 1px solid #efefef;
}

.answer-buttons {
  display: flex;
  flex-wrap: wrap;
}

.answer-button {
  font-size: 0.9rem!important; 
  margin: 8px!important; 
  border: 1px solid #eee!important; 
  cursor: pointer!important;
}

.answer-button:hover,
.answer-button:focus {
  border: 1px solid #eee!important;
}

.feedback-container {
  margin: 20px 0px; 
  padding: 10px; 
  border-radius: 8px; 
  border: 1px solid transparent
}

.countdown-timer {
  position:fixed; 
  top: 80px; 
  min-height: 162px; 
  width: 80%; 
  text-align: center; 
  border-radius: 10px; 
  border: 1px solid #ccc; 
  padding: 20px; 
  font-size: 5rem; 
  background-color: white;
  font-family: 'Courier New', Courier, monospace;
}

.nav-link {
  margin: 0px 5px;
}

.nav-link.active {
  border-bottom: 2px solid #000;
}

.nav-link:hover {
  border-bottom: 2px solid #666;
}

.quiz-container {
  margin: 50px 10vw 50px 10vw; 
  width: 80vw; 
  max-width: unset;
}

#input-intro {
  width: 100%;
  margin-bottom: 30px;
}
.input-wrapper {
  width: max-content;
  max-width: 100%;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-evenly;
  border: 1px solid rgb(100, 176, 67);
  margin: 0px auto;
}

.input-wrapper select {
  padding: 8px;
  border-radius: 8px;
}

.options-wrapper a {
  text-decoration: none;
  color: inherit;
  display: block;
  width: calc(33% - 20px);
  margin: 10px;
  height: inherit;
}
.quiz-option, .quiz-input {
  height: 100%;
  padding: 20px;
  border-radius: 20px;
  width: 100%;
  border: 1px solid rgb(100, 176, 67);
}
.quiz-input {
  width: fit-content;
  border: 1px solid transparent;
  text-align: center;
}

.quiz-input select {
  padding: 8px;
  border-radius: 8px
}

.quiz-option h3, .quiz-input h3 {
  color: rgb(100, 176, 67);
}

.quiz-option p {
  margin-bottom: 10px;
}

.quiz-button {
  padding: 15px 30px;
  border-radius: 20px;
  width: 100%;
  margin: 20px 0px;
  font-size: 1.5rem;
}

.footer-ribbon {
  position: fixed;
  bottom: 0px;
  min-height: 44px;
  width: 100vw
}

.footer-ribbon a {
  color: rgb(100, 176, 67);
  text-decoration: none;
}

.options-section {
  margin: 30px 10%;
  width: 80%;
  min-height: calc(100vh - 172px);
  display: flex;
  align-items: center;
}

.about-bio {
  width: 50%;
  margin-right: 30px;
}
.about-picture {
  width: calc(50% - 30px);
}
@media only screen and (max-width: 796px) {
  .options-wrapper a {
      width: 80%;
  }
  .options-section {
    max-width: 80%!important;
  }
  .about-bio {
    width: 100%;
    font-size: 0.8rem;
    margin-right: 0px;
  }
  .about-picture {
    width: 100%;
  }
}