:root {
  --bs-body-color: rgba(255,255,255,0.5)!important;
  --bs-body-bg: rgb(54,54,54)!important;
  --bs-body-font-size: 15px;
}

body {
  letter-spacing: 0.03em!important;
  line-height: 1.9em;
}

h1, h2, h3, h4, h5, h6, .nav-link {
  color: white!important;
}

.navbar-gray {
  background-color: var(--bs-body-bg)!important;
}

.options-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}

.welcome-message {
  text-align: center;
  width: 100%;
  margin-bottom: 30px;
}

.green {
  color: #1da09c!important;
}

.mt-30px {
  margin-top: 30px;
}

.mb-20px {
  margin-bottom: 20px;
}

.mt-200px {
  margin-top: 200px;
}

.questions-container {
  margin: -10px; 
  padding: 10px;
}

.question-content {
  font-weight: 600;
  padding-top: 20px;
  border-top: 1px solid var(--bs-body-color);
}

.answer-buttons > form > input {
  padding: 3px; 
  height: 39px;
}

.answer-buttons, 
.answer-buttons > form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.answer-button {
  font-size: 0.9rem!important; 
  line-height: 25px;
  margin: 8px!important; 
  background-color: rgba(0,0,0,0.2);
  color: var(--bs-body-color);
  border: 1px solid var(--bs-body-color); 
  cursor: pointer!important;
  border-radius: 100px;
  min-width: 80px;
  padding: 0.375rem 1rem;
}

.answer-button:hover,
.answer-button:focus {
  border: 1px solid inherit;
}

.feedback-container {
  margin: 20px 0px; 
  padding: 6px 10px; 
  border-radius: 0px; 
  border: 1px solid transparent;
  font-weight: bold;
}

.countdown-timer {
  position:fixed; 
  top: 80px; 
  min-height: 162px; 
  width: 80%; 
  text-align: center; 
  border-radius: 10px; 
  border: 1px solid #ccc; 
  padding: 20px; 
  font-size: 5rem; 
  background-color: white;
  font-family: 'Courier New', Courier, monospace;
}

.nav-link {
  margin: 0px 5px;
}

.nav-link.active {
  border-bottom: 2px solid #fea329!important;
  color: #fea329!important;
}

.nav-link:hover {
  border-bottom: 2px solid white;
}

.quiz-container {
  margin: 50px 10vw 50px 10vw; 
  width: 80vw; 
  max-width: unset;
}

#input-intro {
  width: 100%;
  margin-bottom: 30px;
}

.btn-success {
  background-color: rgb(29, 160, 156)!important;
  border-color: rgb(29, 160, 156)!important;
  border-radius: 100px !important;
}

.btn-warning {
  background-color: #fea329!important;
  border-color: #fea329!important;
  border-radius: 100px !important;
}

.input-wrapper {
  width: max-content;
  max-width: 100%;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-evenly;
  border: 1px solid rgb(29, 160, 156);
  margin: 0px auto;
  background-image: linear-gradient(160deg, transparent, transparent 40%, rgba(0,0,0,0.2) 41%, rgba(0,0,0,0.3) ) 
}

.input-wrapper select {
  padding: 8px;
  border-radius: 8px;
}

.options-wrapper a {
  text-decoration: none;
  color: inherit;
  display: block;
  width: calc(33% - 20px);
  margin: 10px;
  height: inherit;
}
.quiz-option, .quiz-input {
  height: 100%;
  padding: 20px;
  border-radius: 20px;
  width: 100%;
  border: 1px solid transparent;
}

.quiz-option {
  background-color: rgba(255,255,255,0.9);
  color: var(--bs-body-bg);
}

a:nth-of-type(odd) > .quiz-option {
  background-image: linear-gradient(340deg, transparent, transparent 60%, white 61%, white ) 
}
a:nth-of-type(even) > .quiz-option {
  background-image: linear-gradient(20deg, transparent, transparent 60%, white 61%, white ) 
}
.quiz-input {
  width: fit-content;
  border: 1px solid transparent;
  text-align: center;
}

.quiz-input select {
  padding: 8px;
  border-radius: 8px
}

.quiz-option h3, .quiz-input h3 {
  color: rgb(100, 176, 67);
}

.quiz-option p {
  margin-bottom: 10px;
}

.quiz-button {
  padding: 15px 30px;
  border-radius: 20px;
  width: 100%;
  margin: 20px 0px;
  font-size: 1.5rem;
}

.footer-ribbon {
  position: fixed;
  bottom: 0px;
  min-height: 44px;
  width: 100vw;
  background-color: var(--bs-body-bg);
  color: rgb(180, 180, 180)!important;
}

.footer-ribbon a {
  color: rgb(180, 180, 180);
  text-decoration: none;
}

.options-section {
  margin: 30px 10%;
  width: 80%;
  min-height: calc(100vh - 172px);
  display: flex;
  align-items: center;
}

.about-bio {
  width: 50%;
  margin-right: 30px;
}
.about-picture {
  width: calc(50% - 30px);
}
@media only screen and (max-width: 796px) {
  .options-wrapper a {
      width: 90%;
  }
  .options-section {
    max-width: 90%!important;
  }

  .quiz-option, .quiz-input {
    text-align: center!important;
    width: 100%;
  }
  .about-bio {
    width: 100%;
    font-size: 0.8rem;
    margin-right: 0px;
  }
  .about-picture {
    width: 100%;
  }
  .footer-ribbon {
    position: relative;
  }
}