{% extends 'layout.html' %}
{% block title %}Tiny Tech Trivia{% endblock %}
{% block content %}
    <section class="container options-section">
        <div>
            <h1 style="text-align: center; font-size: 2.5rem;margin-bottom: 50px;">A New Way to Learn</h1>
            <p class="welcome-message">TinyTechTrivia is a mini web app to help you test your knowledge, expand your skills, and read regex queries. Pick a quiz mode to get started.</p>
            <div class="options-wrapper">
                <a href="/untimed">
                    <div class="quiz-option">
                        <img width="40" src="{{url_for('static', filename='hourglass.svg')}}">
                        <h3 class="green">Untimed</h3>
                        <p>Create an untimed quiz to complete on your own schedule.</p>
                        <p style="color:rgb(49, 176, 244)">Get Started &gt;</p>
                    </div>
                </a>
                <a href="/timed">
                    <div class="quiz-option">
                        <img  width="40" src="{{url_for('static', filename='stopwatch.svg')}}">
                        <h3 class="green">Timed</h3>
                        <p>Answer all the questions within a limited time range.</p>
                        <p style="color:rgb(49, 176, 244)">Get Started &gt;</p>
                    </div>
                </a>
                <a href="/regex">
                    <div class="quiz-option">
                        <img  width="40" src="{{url_for('static', filename='code-slash.svg')}}">
                        <h3 class="green">Regex</h3>
                        <p>Write strings to match the random regex expression.</p>
                        <p style="color:rgb(49, 176, 244)">Get Started &gt;</p>
                    </div>
                </a>
            </div>
            <div style="height: 60px"></div>
        <div>
    </section>
{% endblock %}

