{% extends 'layout.html' %}
{% block head %}
    {{ super() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/superagent/4.1.0/superagent.js" integrity="sha512-cgthOIsqDqRtVyt9wQNxocJhjVy/FfXmLpNy+E/0OMGmLyhK/qHsoSpSz7ieyXOnEivkCg3HdHv7LIza9MH5UA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>     
{% endblock %}
{% block title %}Tiny Tech Trivia{% endblock %}
{% block content %}
        <section class="container quiz-container">
        {% if not loaded %}
            {% if not timed %}
                <p id="input-intro" class="welcome-message">Welcome to <b>Untimed Quizzes</b>! Select a topic, difficulty, and number of questions, then click "Start Quiz" to get started.</p>
                <form method="post" id="quiz-form" style="width:max-content; margin: 0px auto;">
            {% endif %}
            {% if timed %}
                <p id="input-intro" class="welcome-message">Welcome to <b>Timed Quizzes</b>! Select a topic, difficulty, and mode, then click "Start Quiz" to get started.</p>
                <form method="post" id="quiz-form">
            {% endif %}
            <div id="input-wrapper" class="input-wrapper">
                <div class="quiz-input">
                    <h3>Difficulty</h3>
                    <select id="difficulty" name="difficulty">
                        <option value="Easy" selected="selected">Easy</option>
                        <option value="Medium">Medium</option>
                        <option value="Hard">Hard</option>
                        <option value="Any">All Levels</option>
                    </select>
                </div>
                <div class="quiz-input">
                    <h3>Topic</h3>
                    <select id="category" name="category">
                        <option value="Any" selected="selected">All Topics</option>
                        <option value="Code">Code</option>
                        <option value="Docker">Docker</option>
                        <option value="CMS">CMS</option>
                        <option value="Linux">Linux</option>
                        
                    </select>
                </div>
                {% if not timed %}
                <div class="quiz-input">
                    <h3>Questions</h3>
                    <select id="limit" name="limit">
                        <option value="3" selected="selected">3 questions</option>
                        <option value="9">9 questions</option>
                        <option value="18">18 questions</option>
                    </select>
                </div>
                {% endif %}
                {% if timed %}
                <div class="quiz-input">
                    <h3>Mode</h3>
                    <select id="limit" name="limit">
                        <option value="two" selected="selected">2 mins, 9 questions</option>
                        <option value="five">5 mins, 18 questions</option>
                        <option value="max">10 mins, up to 48 questions</option>
                    </select>
                </div>
                {% endif %}
                
            </div>
            <button id="start-stop" class="btn btn-success quiz-button" type="submit" onclick="loading(event)">
                Start Quiz
            </button>
            </form>
        {% endif %}
        {% if loaded %}
            {% if not timed %}
            <h1 class="green mt-30px">Untimed Quiz</h1>
            {% else %}
            <div id="countdown-clock" class="countdown-timer" title="{{available}}"></div>
            <h1 id="quiz-title" class="green mt-200px">Timed Quiz</h1>
            <p id="quiz-instructions">Answer as many questions as you can before the timer runs out!</p>
            <div id="results"></div>
            {% endif %}
            <div id="questions" class="questions-container">
                {% for i in range(len) %}
                    <div class="question" id="{{data[i].id}}">
                        <p class="question-content">
                            {{data[i].question}}
                        </p>
                        <div class="answer-buttons">
                        {% for c in ['a','b','c','d','e','f'] %}
                            {% if not data[i].answers['answer_'+c] == None %}
                                <form>
                                    <input type="hidden" name="questionID">
                                    <input type="hidden" name="answer">
                                    <button class="btn btn-light answer-button" id="{{data[i].id}}-{{c}}_correct" type="button" onclick="checkAnswer(event)">
                                        {{ data[i].answers['answer_'+c] }}  
                                    </button>
                                </form>
                            {% endif %}
                        {% endfor %}
                            <input type="hidden" name="answer-count" id="{{data[i].id}}-count" value="0">
                        </div>
                        <div class="feedback-container" id="{{data[i].id}}-feedback-div">&nbsp;</div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <input type="hidden" id="correct-answer-tally" value="0">
        <input type="hidden" id="incorrect-answer-tally" value="0">
        
        </section>
        <script>
            let process = {};

            window.onload = () => {
                const countdown = document.getElementById('countdown-clock');
                const totalQuestions = Array.from(document.getElementsByClassName("question")).length;
                let stopTimeout;

                const getTime = () => {
                    const time = new Date()
                    const mins = time.getMinutes();
                    const secs = time.getSeconds();
                    const millisecs = time.getMilliseconds();
                    return mins * 60000 + secs * 1000 + millisecs
                }

                const stopQuiz = () => {
                    document.getElementById("quiz-title").innerHTML = "Timed Quiz - Results";
                    document.getElementById("quiz-title").style.textAlign = "center";
                    document.getElementById("quiz-instructions").style.display = "none";
                    const questions = document.getElementById("questions");
                    questions.style.height = "calc(25vh)";
                    questions.style.overflow = "scroll";
                    questions.style.border = "1px solid #efefef";
                    questions.style.paddig = "0px 10px";
                    const correct = parseInt(document.getElementById("correct-answer-tally").value);
                    const incorrect = parseInt(document.getElementById("incorrect-answer-tally").value);
                    const resultsDiv = document.createElement('div');
                    const correctDiv = document.createElement('div');
                    if (countdown.innerText !== "Time's Up") {
                        correctDiv.innerHTML = `Completed in ${countdown.innerHTML}!`;
                    } else {
                        correctDiv.innerHTML = `Correct Responses: ${correct} out of ${totalQuestions} (${(correct * 100 / totalQuestions).toFixed(0)}%)`;
                    
                    }
                    correctDiv.style.fontSize = "2rem";
                    correctDiv.style.textAlign = "center";
                    correctDiv.style.fontWeight = "bold";
                    const incorrectDiv = document.createElement('div');
                    incorrectDiv.innerHTML = `Incorrect Tries: ${incorrect}`;
                    incorrectDiv.style.fontSize = "1.35rem";
                    incorrectDiv.style.textAlign = "center";
                    resultsDiv.style.padding = "20px";
                    resultsDiv.style.margin = "20px 0px";
                    resultsDiv.appendChild(correctDiv);
                    resultsDiv.appendChild(incorrectDiv);
                    document.getElementById("results").appendChild(resultsDiv);
                };

                const reduceCount = (start, available) => {
                    if (countdown.innerHTML === "00:01") {
                        countdown.innerHTML = "Time's Up!"
                        return true;
                    }
                    const correct = parseInt(document.getElementById("correct-answer-tally").value);
                    if (correct == totalQuestions) {
                        clearTimeout(stopTimeout)
                        stopQuiz();
                        return true;
                    }
                    const currentTime = getTime();
                    const elapsed = currentTime - start;
                    const newAvailable = available + start - currentTime;
                    if (newAvailable < 0) {
                        clearTimeout(stopTimeout)
                        stopQuiz();
                        return true;
                    }
                    const mins = Math.floor(newAvailable / 60000);
                    const secs = Math.floor((newAvailable % 60000)/1000);
                    countdown.innerHTML = `${mins < 10 ? '0' : ''}${mins}:${secs < 10 ? '0' : ''}${secs}`;
                    setTimeout(() => reduceCount(start, available), 1000);
                }


                if (countdown) {
                    const availableTime = parseInt(countdown.title);
                    const startTime = getTime();
                    reduceCount(startTime, availableTime);
                    stopTimeout = setTimeout(stopQuiz, availableTime + 100);
                }
            };
            
            function loading(event) {
                event.target.classList.remove('btn-success');
                event.target.classList.add('btn-warning');
                const messages = ["Loading questions", "&nbsp;Loading questions.", "&nbsp;&nbsp;Loading questions..", "&nbsp;&nbsp;&nbsp;Loading questions..."];
                let i = 0;
                const loadingSequence = () => {
                    event.target.innerHTML = messages[i];
                    i++;
                    if (i >= messages.length) { i = 0; }
                    setTimeout(loadingSequence, 400);
                }
                loadingSequence();
            }

            async function postdata(url, data) {
                const response = await fetch(url, {
                    method: 'POST', 
                    cache: 'no-cache',
                    headers: {
                    'Content-Type': 'application/json'
                    },
                    redirect: 'follow', 
                    referrerPolicy: 'no-referrer',
                    body: JSON.stringify(data) 
                });
                return response.json(); 
            }

            function checkAnswer(event) {
                event.preventDefault();
                const [questionID, answer] = event.target.id.split("-");
                postdata('/checkanswer', { questionID }).then((answers) => {
                    const keys = ['answer_a_correct','answer_b_correct','answer_c_correct','answer_d_correct','answer_e_correct','answer_f_correct'];
                    const correctAnswers = keys.filter(x => answers[x] === 'true');
                    const feedbackDiv = document.getElementById(`${questionID}-feedback-div`);
                
                    if (answers[`answer_${answer}`] === 'true') {

                        feedbackDiv.style.color = "green";

                        if (correctAnswers.length > 1 && event.target.style.backgroundColor !== "green") {
                            let answerCount = document.getElementById(`${questionID}-count`);
                            let curr = parseInt(answerCount.value);
                            curr += 1;
                            answerCount.value = curr.toString();
                            if (curr == correctAnswers.length) {
                                feedbackDiv.innerHTML = "Correct!";
                                feedbackDiv.style.backgroundColor = "rgb(255, 255, 255, 0.9)"
                                let tally = parseInt(document.getElementById('correct-answer-tally').value);
                                document.getElementById('correct-answer-tally').value = tally + 1;
                            } else if (curr > 0) {
                                feedbackDiv.innerHTML = "Partially correct! (There are multiple correct answers.)";
                                feedbackDiv.style.backgroundColor = "rgb(255, 255, 255, 0.9)"
                            }
                        } else {
                            feedbackDiv.innerHTML = "Correct!";
                            feedbackDiv.style.backgroundColor = "rgb(255, 255, 255, 0.9)"
                            if (event.target.style.backgroundColor !== "green") {
                                let tally = parseInt(document.getElementById('correct-answer-tally').value);
                                document.getElementById('correct-answer-tally').value = tally + 1;
                            }
                        }
                        event.target.style.backgroundColor = "green";
                        event.target.style.border = "1px solid green";
                        event.target.style.color = "white";

                    } else {
                        event.target.style.backgroundColor = "darkred";
                        event.target.style.border = "1px solid darkred";
                        event.target.style.color = "white";
                        let tally = parseInt(document.getElementById('incorrect-answer-tally').value);
                        document.getElementById('incorrect-answer-tally').value = tally + 1;
                        if (correctAnswers.length > 1 && event.target.style.backgroundColor !== "darkred") {
                            let answerCount = document.getElementById(`${questionID}-count`);
                            let curr = parseInt(answerCount.value);
                            if (curr === 0) {
                                feedbackDiv.innerHTML = "Incorrect! Try again.";
                                feedbackDiv.style.color = "darkred";
                                feedbackDiv.style.backgroundColor = "rgb(255, 255, 255, 0.8)"
                            }
                        } else {
                            feedbackDiv.innerHTML = "Incorrect! Try again.";
                            feedbackDiv.style.color = "darkred";
                            feedbackDiv.style.backgroundColor = "rgb(255, 255, 255, 0.8)"
                        }
                    }
                })
            }
        </script>
{% endblock %}